
.DS_Store

basicPersistenceExample.xcodeproj/project.xcworkspace/xcuserdata/uo.xcuserdatad/UserInterfaceState.xcuserstate

basicPersistenceExample.xcodeproj/xcuserdata/uo.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
